body{
  padding-top: 63px;
  font-family: 'Sailec-Regular','system-ui',-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue',Helvetica,Arial,sans-serif,;
}

a:active, a:visited, a:hover{
  text-decoration: none;
}

.nav-custom{
  padding: 20px 20px 0 0;
  background-color: #fff;
}


.list-item-nav a{
  color: #031b4e;
  font-size: 16px;
  line-height: normal;
}
.list-item-nav a:hover{
  color: #0069ff;
}

a.btn-signup{
  font-size: 16px;
  color: #0069ff;
  border: 1px solid #0069ff;
  vertical-align: sub;
}
a.btn-signup:hover{
  color: #fff;
  background-color: #0069ff;
}

i.fa-bars{
  color: #0069ff;
  font-size: 20px;
}

/* JUMBOTRON */
.jumbotron{
  background-image: url("img/bg-j.jpg");
  background-size: cover;
  margin-bottom: 0;
}

.jumbosx h1{
  color: #fff;
  font-size: 4em;
  margin-bottom: 10px;
}
.jumbosx p{
  opacity: 0.9;
  color: #fff;
}

.jumbodx{
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.jumbodx h3{
  color: #031b4e;
  font-weight: 500;
}
.jumbodx span{
  color: #0069ff;
  font-size: 2em;
  font-weight: 500;
}
img.icongoogle{
  width: 20px;
  height: auto;
  float: left;
  clear: both;
}
#signup button.btn-default{
  color: grey;
  font-weight: 500;
}
p.termslink {
  display: inline-block;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
.termslink a{
  text-decoration: underline;
}
/* Sponsor section */
#sponsor{
  background-color: #f3f5f9;
  text-align: center;
  padding: 40px 0;
}
.img-container img{
  max-width: 100%;
  max-height: 100px;
  line-height: normal;
  vertical-align: super;
  padding-top: 30px;
}
img.splunk{
  max-width: 100%;
  padding-top: 45px;
}
a.stories-link{
  color: #0069ff;
  font-size: 16px;
}
i.fa-chevron-right{
  font-size: 13px;
  vertical-align: middle;
}
/* Sezione optimizer */
.page-white{
  padding: 30px 0;
  background-color: #fff;
}
.textpage{
text-align: center;
}
.textpage h3{
  color: #031b4e;
  font-size: 40px;
}
.textpage p{
  color: #5b6987;
  font-size: 20px;
}

.listsx{
  margin-left: 10%;
  margin-top: 10%;
  padding-left: 30px;
  font-size: 22px;
  border-left: 1px solid grey;
}
.listsx li{
  padding: 10px 0;
  opacity: 0.9;
}

.rowsuperiore{
  margin-top: 10%;
}
.rowsuperiore h4{
  font-size: 24px;
  line-height: 120%;
  color: #031b4e;
}
.rowsuperiore p{
  font-family: 'Sailec-Light';
  font-size: 20px;
  line-height: 120%;
  margin-top: 15px;
  color: #5b6987;
}
/* Developer designed section */
.darkwhitepage{
  background-color: #f3f5f9;
  text-align: center;
  padding: 40px 0;
}
.kuberdiv img{
  max-width: 100%;
  height: auto;
}

.kuberdiv{
  padding-top: 30px;
}
.freccia{
  display: inline-block;
  padding-top: 350px;
  cursor: pointer;
}
.freccia i{
  color: #5b6987;
  font-size: 30px;
}
.freccia i:hover{
  color: #031b4e;
}
.radiotext{
  margin-top: 30px;
}
li.active1 i{
  background-color: #0069ff;
  border-radius: 100%;
}
.pagination > li > a,
.pagination > li > span {
  line-height: 1.42857143;
  color: #0069ff;
  background-color: inherit;
  border: 0px solid #ddd;
}

.features img{
  max-width:100%;
  margin-bottom: 10px;
}
a.glink-arrow{
  color: #0069ff;
  font-weight: bold;
}
/* .icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
a.glink-arrow:after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
} */

/* SEZIONE REGIONI OVER THE WORLD */
.bluesection{
  background-color: blue;
  padding: 30px 0;
}
.bluesection h2{
  color: #fff;
  font-size: 35px;
  margin-bottom: 40px;
}
/* Tabella definition */
table.table1{
  width: 100%;
  padding: 0 50px;
}
tr.rowregiontab{
  width: 100%;
  border-bottom: 1px solid #fff;
}

tr.rowregiontab:last-child{
  border-bottom: 0;
}

.tdregion1{
  width: 20%;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  padding: 10px 0 10px 10px;
}
.tdregion2{
  width: 60%;
  color: #fff;
  font-size: 17px;
  opacity: 0.9;
  padding: 15px 0 15px 10px;
}
.tdregion3{
  width: 20%;
  padding-right: 10px;
  padding: 10px 0 10px 10px;
}
.tdregion3 a{
  color: rgb(26, 255, 255);
  font-size: 15px;
}
@media all and (max-width: 992px){
  .table1:last-child{
    margin-top: 50px;
  }
}
 .rockerbox img{
   max-width: 100%;
   height: auto;
 }

 .rockerbox{
   margin: 40px 0 0;
 }

 .freccia2{
   display: inline-block;
   padding-top: 284px;
   cursor: pointer;
 }
 .freccia2 i{
   color: #5b6987;
   font-size: 30px;
 }
 .freccia2 i:hover{
   color: #031b4e;
}

span.accountspan{
  display: block;
  text-align: center;
}
a.accountlink{
  color: #0069ff;
  font-size: 20px;
  padding: 15px 30px;
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: #fff;
}
