body{
  padding-top: 66px;
  font-family: 'Sailec-Regular','system-ui',-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: red;
}

a:active, a:visited, a:hover{
  text-decoration: none;
}

.nav-custom{
  padding: 20px 20px 0 0;
  background-color: #fff;
}


.list-item-nav a{
  color: #031b4e;
  font-size: 16px;
  line-height: normal;
}
.list-item-nav a:hover{
  color: #0069ff;
}

a.btn-signup{
  font-size: 16px;
  color: #0069ff;
  border: 1px solid #0069ff;
  vertical-align: sub;
}
a.btn-signup:hover{
  color: #fff;
  background-color: #0069ff;
}

i.fa-bars{
  color: #0069ff;
  font-size: 20px;
}

/* JUMBOTRON */
.jumbotron{
  background-image: url("img/bg-j.jpg");
  background-size: cover;
}

.jumbosx h1{
  color: #fff;
  font-size: 4em;
  margin-bottom: 10px;
}
.jumbosx p{
  opacity: 0.9;
  color: #fff;
}

.jumbodx{
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.jumbodx h3{
  color: #031b4e;
  font-weight: 500;
}
.jumbodx span{
  color: #0069ff;
  font-size: 2em;
  font-weight: 500;
}
img.icongoogle{
  width: 20px;
  height: auto;
  float: left;
  clear: both;
}
#signup button.btn-default{
  color: grey;
  font-weight: 500;
}
p.termslink {
  display: inline-block;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
.termslink a{
  text-decoration: underline;
}
